@import "../../../public/variables";

.Container-userPicture {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProfilePicture {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 8px solid $background;
}
