@import "../../../public/variables";

.Container-userNumbers {
    width: 100%;
    height: 80px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NumberContainer {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-size: 20px;
        text-align: center;
        color: $font-color-white;
        margin: 0;
    }

    h2 {
        font-size: 12px;
        text-align: center;
        color: $font-color;
        margin: 0;
    }

    &:hover {
        cursor: pointer;
        background: rgba(0,0,0,.03);
        transition: .4s ease;
        border-radius: 10px;
    }
}
